<% @pics.each do |pic| %>
<div  style="border: 2px solid #efefef;width:40%;margin-top: 50px"  >
<%= link_to pic.title, pic , class:"font-italic text-left"%>
	<%= link_to (image_tag pic.image.url, height: "100%",  width: "100%",class: "img-thumbnail" ),pic  %>
	<h2><%= link_to pic.description, pic %></h2>
	</div>
<% end %>
